<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div id="navbar-main">
      <ul class="navbar-nav navbar-right">
        <li *ngIf="auth.isLoggedIn()" class="nav-link"><a routerLink="/profile">Welcome, {{ auth.getUserDetails()?.name }}</a></li>
        <li *ngIf="auth.isLoggedIn()" class="nav-link"><a routerLink="/todos">Todos</a></li>
        <li *ngIf="auth.isLoggedIn()" class="nav-link"><a (click)="auth.logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
