
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="card">
          <form name="addForm" ngNativeValidate (ngSubmit)="create()">
            <div class="card-body">
              <div class="form-row">
                <input type="text" name="title" id="title" [(ngModel)]="newTodo.title" placeholder="Title" class="form-control title-input" required>
                <textarea name="description" id="description" [(ngModel)]="newTodo.description" placeholder="Description" class="form-control"
                  id="description" rows="2"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div class="col-md-4 input-date">
                  <label for="date">
                    <i class="fa fa-calendar"></i>
                  </label>
                  <input name="date" id="date" type="date" [(ngModel)]="newTodo.date" placeholder="Date" class="form-control"
                    id="date">
                </div>
                <div class="col-md-4 input-category">
                  <label for="category">
                    <i class="fa fa-tag"></i>
                  </label>
                  <input name="category" id="category" type="text" [(ngModel)]="newTodo.category" placeholder="Category" class="form-control"
                    id="category">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
              </div>
            </div>
          </form>
      </div>

      <div class="todos" *ngIf="todosList">
        <div class="todo card" *ngFor="let todo of todosList.reverse()" [ngClass]="{'done': todo.status === 'Done'}">
          <div class="card-body">
            <ng-container  *ngIf="!editTodos.includes(todo); else editTD">
              <h1>{{todo.title}}</h1>
              <div class="float-right">
                <button class="btn btn-link" (click)="doneTodo(todo)">
                  <i  class="fa fa-check"></i>
                </button>
                <button class="btn btn-link" (click)="editTodo(todo)">
                    <i  class="fa fa-pencil"></i>
                  </button>
                <button class="btn btn-link" (click)="deleteTodo(todo)">
                    <i  class="fa fa-trash"></i>
                </button>
              </div>
              <br>
              <span class="input-date"><i class="fa fa-calendar"></i>{{todo.date | date}}</span>
              <span class="input-date"><i class="fa  fa-tag"></i>{{todo.category}}</span>
              <p>{{todo.description}}</p>
            </ng-container>

            <ng-template #editTD>
                <div class="form-row">
                  <div class="col-md-10">
                    <input type="text" name="title" id="title" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.title" placeholder="Title" class="form-control title-input edit-input">
                  </div>
                  <div class="col-md-2 text-right">
                    <button class="btn btn-primary" (click)="editTodo(todo)">
                        Update
                    </button>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4 input-date">
                    <label for="date">
                      <i class="fa fa-calendar"></i>
                    </label>
                    <input name="date" id="date" type="date" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.date" placeholder="Date" class="form-control"
                      id="date">
                  </div>
                  <div class="col-md-4 input-category">
                    <label for="category">
                      <i class="fa fa-tag"></i>
                    </label>
                    <input name="category" id="category" type="text" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.category" placeholder="Category" class="form-control"
                      id="category">
                  </div>
                </div>
                <textarea type="text" name="description" id="description" (keypress)="submitTodo($event, todo)" [(ngModel)]="todo.description" placeholder="Description"
                    class="form-control"></textarea>
            </ng-template>
          </div>
        </div>
      </div>



    </div>
    <div class="col-md-2">

    </div>
  </div>

</div>
