<div class="container">

  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 vertical-center">
      <h1 class="text-center auth-title">Register</h1>
      <div class="card">
        <div class="card-body">
          <form (submit)="register()" class="auth-form">
            <div class="form-group">
              <label for="name">Full name</label>
              <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Create account</button>
          </form>
          <p class="">Already a member? Please <a routerLink="/">log in</a> instead.</p>
        </div>
      </div>
    </div>
  </div>

</div>
