<div class="container">

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 vertical-center">

      <h1 class="form-signin-heading auth-title text-center">Sign in</h1>

      <div class="card">
        <div class="card-body">
          <form (submit)="login()" class="auth-form">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          </form>
          <p class="">Don't have an account yet? <a routerLink="/register">Sign up</a></p>
        </div>
      </div>

    </div>
  </div>

</div>
