.card {
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0px 21px 35px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 21px 35px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 21px 35px -4px rgba(0,0,0,0.2);
    .card-footer {
      background-color: #FAFAFA;
    }
  }
  .done {
    opacity: 0.6;
  }
  