.form-control {
    border: none;
    background-color: transparent;
    box-shadow: none;
    &:focus {
      background-color: transparent;
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  .title-input {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    color: map-get($theme-colors, "primary");
    padding: 0;
    &.edit-input {
      display: inline-block;
    }
    &:focus {
      color: rgba(map-get($theme-colors, "primary"),0.7);
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(map-get($theme-colors, "primary"),0.7);
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: rgba(map-get($theme-colors, "primary"),0.7);
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: rgba(map-get($theme-colors, "primary"),0.7);
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: rgba(map-get($theme-colors, "primary"),0.7);
    }
  }

  textarea.form-control {
    padding: 0;
  }
  span.input-date {
    margin-right: 16px;
    font-size: 13px;
    color: rgba(#333,0.6);
    i {
      display: inline-block;
      margin-right: 8px;
    }
  }
  .input-date {
    display: inline-block;
    i {
      color: map-get($theme-colors, "secondary");
    }
    .form-control {
      display: inline-block;
      width: 90%;
    }
  }
  .input-category {
    display: inline-block;
    i {
      color: map-get($theme-colors, "secondary");
    }
    .form-control {
      display: inline-block;
      width: 90%;
    }
  }

.auth-title {
  display: block;
}

.auth-form {
  .form-control {
    background-color: $body-bg;
    border-radius: 0;
  }
  .btn {
    margin-bottom: 14px;
  }
}
