h1 {
    color: map-get($theme-colors, "primary");
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
    display: inline-block;
  }
  .input-date + p {
    margin-top: 16px;
  }
  
  .btn-link {
    color: rgba(#333,0.8);
    &:hover {
      color: map-get($theme-colors,'primary');
    }
  }
  